body {
	background: rgb(174, 216, 238);
	background: linear-gradient(
		90deg,
		rgba(174, 216, 238, 1) 0%,
		rgba(176, 148, 233, 1) 100%
	);
	display: flex;
	justify-content: center;
	padding-top: 10px;
	height: 100%;
	position: relative;
}

.App {
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: auto;
	padding-bottom: 80px; /* height of your footer */
}

.App h1 {
	font-family: "Baloo Tammudu 2", cursive;
	padding-top: 20px;
	border: 2px solid #202040;
	box-shadow: 5px 5px #543864;
	margin-bottom: 25px;
	color: #1b262c;
	padding-left: 10px;
	padding-right: 10px;
}
.App h5 {
	font-family: "Lato", sans-serif;
}

.form-group input {
	width: 200px;
	margin-right: 5px;
	height: 37px;
	padding-bottom: 5px;
}

.center {
	display: flex;
	justify-content: center;
}

.image {
	position: absolute;
}

.image img {
	height: auto;
	max-width: 350px;
	border: 1px solid #272e4f;
	border-radius: 15px;
}

.bounding-box {
	position: absolute;
	margin: auto;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}

.randomBtn {
	margin-bottom: 30px;
}

.errorReport {
	margin-top: 300px;
}
.toast {
	margin: auto;
}

.resultTable {
	font-family: "Montserrat", sans-serif;
}

.resultTable h4 {
	font-family: "Righteous", cursive;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;

	background-color: #929aab;
	opacity: 0.85;
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: "Lato", sans-serif;
}

.footer a {
	color: black;
}

.footer a:hover {
	color: #363062;
	text-decoration: underline;
}
